.grid {
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 200px;
  width: 200px;

  border: solid black 1px;
}

.mole {
  background-image: url("images/mole.jpg");
  background-size: cover;
}

* {
  background-color: #4158d0;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  background-size: 400% 400%;
  animation: grad 10s ease infinite;
}

@keyframes grad {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
